.chatWrapper {
  margin: 0;
  padding: 0;
  background-color: #0b141a;
  color: white;
  height: 95vh;
  min-height: 200px;
  width: 60vw;
}
.chatWrapper .header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 60px;
  padding-left: 15px;
  background-color: #202c33;
}
.chatWrapper .header .phoneNumber {
  padding: 0;
  margin: 0 0 0 15px;
  font-weight: 600;
  font-size: 17px;
}
.chatWrapper .header .contactIcon {
  width: 40px;
}
.chatWrapper .chatField {
  position: relative;
  height: calc(100% - 120px);
  min-height: -moz-fit-content;
  min-height: fit-content;
  width: 100%;
  margin: 0;
  padding: 25px;
  overflow-y: auto;
  background-color: #0b141a;
  background-image: url("../img/chat-background.png");
  background-position: -30% 0;
}
.chatWrapper .chatField::-webkit-scrollbar {
  width: 6px;
}
.chatWrapper .chatField::-webkit-scrollbar-track {
  background: transparent;
}
.chatWrapper .chatField::-webkit-scrollbar-thumb {
  background: rgba(151, 151, 151, 0.2588235294);
}
.chatWrapper .form {
  display: flex;
  height: 60px;
  width: 100%;
  padding: 10px;
  padding-right: 25px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #202c33;
}
.chatWrapper .form .formInput {
  flex: 1 0 100%;
  width: 93%;
  text-align: left;
  background-color: #2a3942;
  border: none;
  color: white;
}
.chatWrapper .form .formInput:focus {
  background-color: #2a3942;
  border: none;
  color: white;
}
.chatWrapper .form .formInput::-moz-placeholder {
  color: #8696a0;
}
.chatWrapper .form .formInput::placeholder {
  color: #8696a0;
}
.chatWrapper .form .formBtn {
  flex: 1 0;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  border: none;
  padding-left: 3%;
  background-color: transparent;
  cursor: pointer;
}
.chatWrapper .form .formBtn:disabled {
  background-color: transparent;
  border: none;
  filter: brightness(60%);
  cursor: auto;
}